body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #162129;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0e141c;
    gap: 20px;
    padding: 20px;
    height: fit-content;
}

.video-item {
    width: 260px;
    height: 360px;
    margin: 0;
    cursor: pointer;
    border: 2px solid #162129;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow: hidden;
}

.video-item:hover {
    transform: scale(1.05);
}

video {
    width: 100%;
}

footer {
    background-color: #162129;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
