.footer{
    display: flex;
    justify-content: center;
    padding: 50px 10px 50px 10px;
    min-height: 35vh;
    background-color: whitesmoke;
    font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
}

.Footercontainer{
    height: 100%;
    width: auto;
    text-align: center;
    margin: auto;
}

.footerHeading{
    font-size: larger !important;
    cursor: default !important;
}

.Footercontainer p{
    width: fit-content;
}